services:

  db:
    image: postgres:latest
    container_name: videoflix_database
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data_new:/var/lib/postgresql
    networks:
      - database-net

  redis:
    image: redis:latest
    container_name: videoflix_redis
    restart: unless-stopped
    volumes:
      - redis_data:/data
    networks:
      - database-net

  videoflix_backend:
    build:
      context: .
      dockerfile: backend.Dockerfile
    env_file: .env
    restart: unless-stopped
    container_name: videoflix_backend
    volumes:
      - .:/app
      - videoflix_media:/app/media
      - videoflix_static:/app/static
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.videoflix-backend.rule=Host(`videoflix.xn--alexander-hrst-5pb.de`) && PathPrefix(`/api`)"
      - "traefik.http.routers.videoflix-backend.entrypoints=web,websecure"
      - "traefik.http.routers.videoflix-backend.tls.certresolver=myresolver"
      - "traefik.http.services.videoflix-backend.loadbalancer.server.port=8080"
    networks:
      - videoflix-internal
      - traefik-net
      - database-net
    depends_on:
      - db
      - redis

networks:
  videoflix-internal:
    external: true
  traefik-net:
    external: true
  database-net:
    external: false

volumes:
  postgres_data_new:
  redis_data:
  videoflix_media:
  videoflix_static:
