asgiref==3.8.1
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
cryptography==45.0.4
distlib==0.3.9
Django==5.2
django-cors-headers==4.7.0
django-redis==6.0.0
django-rest-framework==0.1.0
django-rq==3.1
djangorestframework==3.16.0
filelock==3.18.0
gunicorn==23.0.0
idna==3.10
ifaddr==0.2.0
packaging==25.0
platformdirs==4.3.7
psycopg2-binary==2.9.10
pycparser==2.22
python-dotenv==1.1.0
redis==6.4.0
requests==2.32.4
rq==2.4.1
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.29.3
whitenoise==6.9.0
